[submodule "src/metametrics/metrics/GEMBA"]
	path = src/metametrics/metrics/GEMBA
	url = https://github.com/MicrosoftTranslator/GEMBA.git
[submodule "src/metametrics/metrics/BARTScore"]
	path = src/metametrics/metrics/BARTScore
	url = https://github.com/neulab/BARTScore.git
[submodule "src/metametrics/metrics/bleurt"]
	path = src/metametrics/metrics/bleurt
	url = https://github.com/google-research/bleurt.git
